---
title: Plasma Mobile - Plasma in your pocket
layout: default
---

<div id="page" class="hfeed site">
    <div class="entry-content">
        <div id="pl-29" class="panel-layout">
            <div id="pg-29-0" class="panel-grid panel-has-style">
                <div class="hero section-hero siteorigin-panels-stretch panel-row-style panel-row-style-for-29-0" data-stretch-type="full">
                    <div id="pgc-29-0-0" class="panel-grid-cell">
                        <div id="panel-29-0-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="0">
                            <div class="hero-row panel-widget-style panel-widget-style-for-29-0-0-0">
                                <div class="textwidget">
                                    <h2>Plasma, in your pocket.</h2>

                                    <!-- Video Modal -->
                                    <button class="button light-invert wide video-modal-btn" data-video-id="auuQA0Q8qpM">Video Intro</button>
                                    <script>
                                        new ModalVideo(".video-modal-btn");
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pgc-29-0-1" class="panel-grid-cell">
                        <div id="panel-29-0-1-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="1">
                            <div class="hero-row panel-widget-style panel-widget-style-for-29-0-1-0">
                                <div class="textwidget">
                                    <p><img class="alignnone size-full wp-image-222" src="/img/plasmaphone.png" alt="phones-hero" width="660" height="790" /></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pg-29-1" class="panel-grid panel-has-style">
                <div class="section-features panel-row-style panel-row-style-for-29-1">
                    <div id="pgc-29-1-0" class="panel-grid-cell">
                        <div id="panel-29-1-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="2">
                            <div class="textwidget">
                                <p><img class=" size-full wp-image-223 aligncenter" src="/img/triangles.png" alt="triangles" width="224" height="128" /></p>
                                <h2 style="text-align: center;">Open up.</h2>
                                <p style="text-align: center;">Plasma Mobile is an open-source user interface for phones. Running on top of a Linux distribution, Plasma Mobile turns  your phone into a fully hacking device.</p>
                                <p style="text-align: center;">
                                    <a href="/get/" class="button">Install</a>
                                    <a href="/findyourway/" class="button">Contribute</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-grid panel-has-style">
                <div class="pagelayout pagelayout-full panel-row-style panel-row-style-for-269-0">
                    <div class="panel-grid-cell">
                        <div class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="0">
                            <div class="textwidget">
                                <p style="text-align: center;">Using the multi-platform toolkit Qt, the flexible extensions of KDE Frameworks plus the power of Plasma Shell, Plasma Mobile is built with technology which feels equally at home on the desktop and mobile devices.</p>
                                <img class=" size-full wp-image-276 aligncenter" src="/img/hero.jpg" alt="hero" width="2000" height="1200" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-grid panel-has-style">
                <div class="pagelayout-row panel-row-style panel-row-style-for-269-1">
                    <div class="panel-grid-cell">
                        <div class="pagelayout panel-cell-style panel-cell-style-for-269-1-0">
                            <div class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="1">
                                <div class="clear-img panel-widget-style panel-widget-style-for-269-1-0-0">
                                    <div class="textwidget">
                                        <p><img class="alignnone size-full wp-image-277" src="/img/wayland.png" alt="wayland" width="600" height="500" /></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-grid-cell">
                        <div class="pagelayout panel-cell-style panel-cell-style-for-269-1-1">
                            <div class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="2">
                                <div class="textwidget">
                                    <h2>KWin and Wayland</h2>
                                    <p>Wayland is the next-generation protocol for delivering cutting-edge interfaces which are silky smooth. KWin is the battle-tested window manager which implements Wayland, delivering a polished and reliable experience on both the desktop and mobile devices.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-grid panel-has-style">
                <div class="pagelayout-row panel-row-style panel-row-style-for-269-2">
                    <div class="panel-grid-cell">
                        <div class="pagelayout panel-cell-style panel-cell-style-for-269-2-0">
                            <div class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="3">
                                <div class="textwidget">
                                    <h2>Making full use of Open Source</h2>
                                    <p>Plasma Mobile combines many powerful software tools from established projects to make a whole greater than the sum of its parts. <br /> Ofono provides our telephone solution, Telepathy offers many communication utilities, and Pulseaudio drives the Plasma Mobile sound system.</p>
                                    <ul>
                                        <li><a href="https://kde.org/products/frameworks/" target="_blank">KDE Frameworks</a></li>
                                        <li><a href="https://kde.org/products/kirigami/" target="_blank">Kirigami</a></li>
                                        <li><a href="https://01.org/ofono" target="_blank">Ofono</a></li>
                                        <li><a href="https://en.wikipedia.org/wiki/Telepathy_%28software%29" target="_blank">Telepathy</a></li>
                                        <li><a href="https://en.wikipedia.org/wiki/PulseAudio" target="_blank">Pulseaudio</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-grid-cell">
                        <div class="pagelayout panel-cell-style panel-cell-style-for-269-2-1">
                            <div class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="4">
                                <div class="clear-img panel-widget-style panel-widget-style-for-269-2-1-0">
                                    <div class="textwidget">
                                        <p><img class="alignnone size-full wp-image-278" src="/img/telephony.png" alt="telephony" width="840" height="1000" /></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-grid panel-has-style">
                <div class="pagelayout-row panel-row-style panel-row-style-for-269-3">
                    <div class="panel-grid-cell">
                        <div class="pagelayout panel-cell-style panel-cell-style-for-269-3-0">
                            <div class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="5">
                                <div class="clear-img panel-widget-style panel-widget-style-for-269-3-0-0">
                                    <div class="textwidget">
                                        <p><img class="alignnone size-full wp-image-275" src="/img/schemes.png" alt="schemes" width="800" height="600" /></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-grid-cell">
                        <div class="pagelayout panel-cell-style panel-cell-style-for-269-3-1">
                            <div class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="6">
                                <div class="textwidget">
                                    <h2>Adapting to your needs</h2>
                                    <p>Being based on the most flexible desktop in the world means you can truely make your phone your own. Add and modify widgets, change colour schemes, fonts, and much, much more.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .entry-content -->
</div>
